
.contactSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer{
    width: 50%;
    height: fit-content;
    padding: 3%;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 1px;
    .form{
      width: 95%;

     input{
     width: 100%;
     height: 2rem;
     border-radius: 15px;
     padding-left: 2%;
     margin-bottom: 1%;
     border-width: 1px;
     }
     textarea{
        width: 100%;
        height: 6rem;
        border-radius: 10px;
        padding-left: 2%;
        margin-bottom: 1%;
        border-width: 1px;
     }
     label{
        padding-left: 1%;
     }

    }
}


 @media (width < 1586px){

 }

 @media (width < 1300px){

 }

@media (width < 1111px){

}

 @media (width < 900px){

 }

 @media (width < 700px){

 }

 @media (width < 438px){

 }

 @media (width < 378px){

 }

