
.contactSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer{
    width: 45%;
    height: fit-content;
    padding: 3%;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 1px;
    .form{
      width: 95%;

     input{
     width: 100%;
     height: 2rem;
     padding-left: 2%;
     margin-bottom: 1%;
     border-width: 0px;
     border-bottom-width: 1px;
     border-color: white;
     color: white;
     background: rgb(0, 0, 0);
     outline: none;
     }
     textarea{
        width: 100%;
        height: 6rem;
        border-radius: 10px;
        padding-left: 2%;
        margin-top: 2%;
        border-width: 1px;
        border-color: white;
        color: white;
     background: rgb(0, 0, 0);
     }
     label{
        padding-left: 1%;
     }
     #submitBtn{
        padding: 10px 20px;
        margin-left: 1%; 
        background-color: #d1ebd2;
        color: rgb(0, 0, 0); 
        border: none; 
        border-radius: 5px; 
        cursor: pointer; 
        font-size: 16px;
        font-weight: bold;
     }

    }
}


 @media (width < 1586px){
   .formContainer{
    width: 60%;
   }
 }

 @media (width < 1300px){
   .formContainer{
    width: 60%;
   }
 }

@media (width < 1111px){
   .formContainer{
    width: 60%;
   }
}

 @media (width < 900px){
   .formContainer{
    width: 70%;
   }
 }

 @media (width < 700px){
   .formContainer{
    width: 60%;
   }
 }

 @media (width < 438px){
   .formContainer{
    width: 90%;
   }
 }

 @media (width < 378px){

 }

